.card {
  border: none !important;
  padding: -1px;
  background-color: #f9f9f9 !important;
}
.cardHeader {
  background-color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 900 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardBody {
  background-color: #f9f9f9;
  padding-bottom: 10px;
}
