.card {
  border: none !important;
  padding: -1px;
}
.cardHeader {
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 900 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardBody {
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .card, .cardHeader {
    background-color: #F9F9F9;
  }
}