/* main {
  min-height: 70vh;
  margin-top: 110px;
  z-index: 1000 !important;
} */

::-webkit-scrollbar {
  height: 6px;
  width: 10px;
}
::-webkit-scrollbar-track:vertical {
  box-shadow: inset 0 0 10px #cecece;
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 10px rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #e6dddd;
}

main {
  min-height: 80vh;
  font-family: 'Open Sans', sans-serif;
  color: #222831;
  margin-top: 120px;
  padding: 0 4rem;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -50px;
}

.carousel-indicators li {
  background-color: #000;
  opacity: 0.4;
  margin-bottom: 0 !important;
}

.product-carousel .carousel-control-prev,
.product-carousel .carousel-control-next {
  position: absolute;
  top: 43%;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: white;
  opacity: 1;
  margin: 0 -60px;
}

.product-carousel .carousel-control-prev:hover,
.product-carousel .carousel-control-next:hover {
  background: #dff2fa;
}

.carousel-control-prev-icon {
  background-image: url('../src/angle-left-solid.svg');
}
.carousel-control-next-icon {
  background-image: url('../src/angle-right-solid.svg');
}

.navbar-light .navbar-nav .nav-link {
  color: #30475e;
}
/* .dropdown {
  position: static;
}
.navbar-nav .dropdown-menu {
  position: static !important;
} */

.css-26l3qy-menu {
  z-index: 100 !important;
}

.form-control {
  background: rgb(255, 255, 255);
}

.Grid {
  border: 1px solid #f9f9f9;
}

.GridItemEven,
.GridItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridItemEven {
  background-color: #fff;
}

.carousel img {
  height: 300px;
  /* padding: 30px; */
  margin: 40px;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
/* body {
  background-color: #F9F9F9 !important;
} */
body {
  background-color: #f9f9f9 !important;
}
.red {
  border: 1px solid red;
  border-radius: 6px;
}
.dropdown-menu {
  background-color: #30475e !important;
  border: none !important;
}

.fa-star {
  color: #30475e !important;
}

/* .product-carousel .carousel-control-prev,
.product-carousel .carousel-control-next {
  background-color: #F9F9F9;
}

.product-carousel .carousel-control-prev:hover,
.product-carousel .carousel-control-next:hover{
  background-color: #eee;
} */

.switch-handle {
  border-radius: 50px !important;
  z-index: 10 !important;
  background-color: #eee !important;
}

.switch {
  border-radius: 100px !important;
  margin-bottom: 2px !important;
}

.switch-on {
  right: 100% !important;
}
.switch-off {
  left: 50% !important;
  padding-left: 37px !important;
}

.css-yk16xz-control {
  border: none !important;
  border-radius: 0 !important;
  height: calc(1.5em + 1.5rem + 0px);
  padding: 0 1rem;
  font-size: 0.87rem !important;
  color: #55595c;
  line-height: 1.5;
}

.css-1okebmr-indicatorSeparator {
  width: 0 !important;
}

.custom-control-label::before {
  border: 1.5px solid #d4d4d4;
}

@media (max-width: 990px) {
  .fcISXU {
    width: 90% !important;
    margin: 12px auto !important;
  }
  .lnUEPL {
    border: none !important;
    text-align: left !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .product-carousel .carousel-control-prev,
  .product-carousel .carousel-control-next {
    width: 36px;
    height: 36px;
    margin: 0 -40px;
  }
}
@media screen and (max-width: 400px) {
  main {
    padding: 0 1rem;
  }
}

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.react-slick * {
  min-height: 0;
  min-width: 0;
}

.react-slick .slick-prev,
.react-slick .slick-next {
  background-color: rgb(187, 184, 184);
  border-radius: 10px;
}

.react-slick .fluid__instructions {
  margin-top: 30px;
}

@media (min-width: 480px) {
  .react-slick .fluid__image-container {
    margin: 40px;
  }

  .react-slick .fluid__instructions {
    margin: 0 20px;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-right: 6px !important;
  }
}

@media (max-width: 992px) {
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-sm,
  .navbar .container-md,
  .navbar .container-lg,
  .navbar .container-xl {
    justify-content: space-between !important;
  }

  main {
    margin-top: 140px;
  }
}
