::-webkit-scrollbar {
  height: 6px;
  width: 10px;
}
::-webkit-scrollbar-track:vertical {
  box-shadow: inset 0 0 10px #cecece;
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 10px rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #e6dddd;
}

main {
  min-height: 80vh;
  font-family: 'Open Sans', sans-serif;
  color: #222831;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -50px;
}

.carousel-indicators li {
  background-color: #000;
  opacity: 0.4;
  margin-bottom: 0 !important;
}

.product-carousel .carousel-control-prev,
.product-carousel .carousel-control-next {
  position: absolute;
  top: 43%;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: white;
  opacity: 1;
  margin: 0 -60px;
}

.product-carousel .carousel-control-prev:hover,
.product-carousel .carousel-control-next:hover {
  background: #dff2fa;
}

.carousel-control-prev-icon {
  background-image: url('../src/angle-left-solid.svg');
}
.carousel-control-next-icon {
  background-image: url('../src/angle-right-solid.svg');
}

.navbar-light .navbar-nav .nav-link {
  color: #30475e;
}
.dropdown {
  position: static;
}
.navbar-nav .dropdown-menu {
  position: static !important;
}

.form-control {
  background: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  main {
    padding: 0 40px;
    font-size: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .product-carousel .carousel-control-prev,
  .product-carousel .carousel-control-next {
    width: 36px;
    height: 36px;
    margin: 0 -40px;
  }
}
