main {
  min-height: 80vh;
  font-family: 'Open Sans', sans-serif;
  color: #222831;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #000;
  opacity: 0.4;
  margin-bottom: 0 !important;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 43%;
  width: 48px;
  height: 48px;
  border: 2px solid #d4d4d4;
  border-radius: 50px;
  background-color: white;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url('../src/angle-left-solid.svg');
}
.carousel-control-next-icon {
  background-image: url('../src/angle-right-solid.svg');
}

/* @media (max-width: 900px) {
body {
  background-color: #dff2fa;
}
.red {
  border: 1px solid red;
  border-radius: 6px;
}
.dropdown-menu {
  background-color: #30475e !important;
  border: none !important;
}
*/
